.mxr__research{
    background-image: url('../../assets/images/research-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mxr-reseach-secright {
    color: #fff;
    padding-top: 50px;
}
.mxr-reseach-secright p {
    color: #fff;
}
.mxr__research-border1 {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.mxr__research-border2{
    border-bottom: 1px solid #fff   ;
}
.mxr__research-border3 {
    border-right: 1px solid #fff;
}
.mxr__research-border1, .mxr__research-border2, .mxr__research-border3{
    padding-top: 20px;
    padding-bottom: 24px;
}