@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --font-family: 'Poppins', sans-serif;

  --color-primary-bg: #2b7975;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
